@charset "utf-8";
/* tipiX Navigation CSS */

#sets-tab {
	width:1200px;
	height:200px;
	overflow-x: scroll;
	overflow-y: hidden;
	margin:auto;
}

#sets-wrapper {
	width:10000px;
}

#sets-tab img {
	width:180px;
	padding-right:10px;
	float:left;
	border:0px;
}

.set-container {
	width: 400px;
	height:200px;
	float:left;
	padding:10px;
	display:inline-block;
	white-space: normal;
}

#userSets-tab {
	margin:auto;
	border: 1px solid #EFEFEF;
	padding:10px;
}



#info-container {
	clear:both;
	margin-left:auto;
	margin-right:auto;
	width:1200px;
	margin-bottom:10px;
}

#tab-title-container {
	padding-top:0px;
	width:1010px; /** n * #tabs + border **/
	height:50x;
	margin-left:auto;
	margin-right:auto;
}

#edit-tab {
	padding:20px;
}

.tab-title {
	width:200px;
	height:50x;
	float:left;
	text-align:center;
	color:#06F;
}

#tab-container {
	clear:both;
	padding-top:0px;
	margin-top:50px;
	width:1200px;
	border: 1px solid #EFEFEF;	
	border-top: 1px solid #787878;	/* this is ugly, should be made to work in tab-title-container, border:bottom */
}

.tab {
	display:none;
}


#about-tab {
	text-align:center;	
}

#tutorial-tab {
	padding:10px;
}